<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.study.domain.member.UserinfoMapper">
	<!-- 회원정보 by id-->
    <select id="getUserinfoById" resultType="com.study.domain.member.UserInfoVO">
        select
            ui.user_id,
		    ui.user_nm,
		    ui.user_pwd,
		    ui.telno,
		    ui.hp_no,
		    ui.email,
		    ui.confirm_yn,
		    ui.comp_id,
			ui.dept_id,
			ui.workplace_id,
		    ui.role_id,
		    ui.user_stat,
		    ui.indict_yn,
		    ri.role_nm,
		    ri.role_security,
		    ri.role_level,
		    ri.upper_role_id,
		    ri.role_desc,
		    ri.status_flag,
		    ui.reg_dt,
		    ui.upd_dt, 
		    ui.user_emp_nmb
		from
		    user_info ui
		    left outer join role_info ri on ri.role_id = ui.role_id 
        where
            ui.user_id = #{userId}
    </select>

</mapper>