
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/content.css}" />
    <link rel="stylesheet" th:href="@{/css/button.css}" />
	<style>
		#login_box .signup_btn {background:#42d870; border:0; border-bottom:solid 3px #4ed177; border-radius:50px; width:100%; height:52px; line-height:52px; font-size:16px; color:#fff; text-align:center; margin:20px 0 15px;}
	</style>
</head>

<body>
	<!--/* 회원정보 popup */-->
	<div id="signupPopup" class="popLayer">
		<h3>회원정보</h3>
		<div class="pop_container">
			<form id="signupForm" onsubmit="return false;" autocomplete="off">
				<table class="tb tb_row tl">
					<colgroup>
						<col style="width:30%;" /><col style="width:70%;" />
					</colgroup>
					<tbody>
						<tr>
							<input type="hidden" id="id" name="id" th:value="${session.loginMember.Id}"/>
							<input type="hidden" name="loginId" placeholder="아이디" maxlength="30" />	
						</tr>
						<tr>
							<th scope="row">비밀번호<span class="es">필수 입력</span></th>
							<td><input type="password" name="password" placeholder="비밀번호" maxlength="30" /></td>
						</tr>
					</tbody>
				</table>
			</form>
			<p class="btn_set">
				<button type="button" class="btns btn_st2" onclick="deleteMember();">수정</button>
				<button type="button" class="btns btn_bdr2" onclick="closeSignupPopup();">취소</button>
			</p>
		</div>
		<button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>
	</div>

	<script th:src="@{/js/function.js}"></script>
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
	<script>
	
		// Enter 로그인 이벤트 바인딩
		$(document).ready(function() {
			
			openSignupPopup();
			
			$('#loginId, #password').on('keyup', function(e) {
					if (e.keyCode === 13) {
						login();
					}
				});
		});

		// 회원정보 수정
		function deleteMember() {
	
			const form = $('#signupForm');
			const id = "[[ ${session.loginMember.Id} ]]";
			
			const uri = `/members/${id}`;
			const params = {}
// 			validationMemberInfo(form);
			
			new FormData(form[0]).forEach((value, key) => {
				if (key == 'id') {
					params[key] = value.trim();
                } 
			});
			
			console.log(uri);
			console.log(params);
			
			const result = callApi(uri, 'delete');
			if(result == id) {
				alert("회원정보 삭제를 완료하였습니다");
				location.href = '/login.do';
			} else {
				alert("회원정보 수정을 실패하였습니다");
				location.href = '/member/deleteMember.do';
			}
			
			console.log(result)
	
			
		}

		// 회원가입 팝업 open
		function openSignupPopup() { //name, 성별, birthday 등 세션으로 받아오면 안되고 DB에서 갖고오기
			
			const form = $('#signupForm');			
			const loginId = "[[ ${session.loginMember.loginId} ]]";
			
			const uri = `/members/${loginId}`;
			const response = getJson(uri);
			console.log("response=>"+JSON.stringify(response));
			
			const birthday = response.birthday.replace(/-/g, '');
			
			form.find('[name=loginId]').val(loginId).prop('readonly',true);
			layerPop('signupPopup');
			
		}

		// 회원가입 팝업 close
		function closeSignupPopup() {
			const form = $('#signupForm');
			form.find('[name=loginId]').prop('readonly', false);
			form[0].reset(); //다시보기
			layerPopClose();
			history.back();
		}


		// 회원 정보 유효성 검사
		function validationMemberInfo(form) { //다시보기
			
// 			console.log(form)
			const fields = form.find('input:not([type="radio"])'); // input 태그 중에 radio type만 제외하고 선택 
			const fieldNames = ['아이디', '비밀번호', '비밀번호 재입력', '이름', '생년월일'];
// 			console.log(fields)
			
			for (let i = 0, len = fields.length; i < len; i++) {
// 				console.log($(fields[i]))
				isValid($(fields[i]), fieldNames[i]);
			}
						
			if (form.find('[name=password]').val() !== form.find('[name=passwordCheck]').val()) {
				alert('비밀번호가 일치하지 않습니다.');
				form.find('[name=passwordCheck]').focus();
				throw new Error();
			}
			
			if(form.find('[name=birthday]').val().length < 8) {
				alert('생년월일을 8자리 입력해 주세요.')
				form.find('[name=birthday]').focus();
				throw new Error();
			}
		}


		// 회원 정보 저장 (회원가입)
		function saveMember() {

			// 1. 필드 유효성 검사
			const form = $('#signupForm');
			console.log(form[0]);
			validationMemberInfo(form);
			
			// 2. 파라미터 세팅
			const params = {}
// 			new FormData(form[0]).forEach((value, key) => console.log(key +' : '+ value));
			new FormData(form[0]).forEach((value, key) => params[key] = value.trim()); //다시보기, form 내 name 기준으로 key 출력 
			params.birthday = params.birthday.replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3');
			
			console.log(params)
			
			// 3. Save API 호출
			callApi('/members', 'post', params);
			alert('가입을 축하드립니다!\n로그인 후 서비스를 이용해 주세요.');
			closeSignupPopup();
		}
		

	</script>
</body>
</html>